@mixin background($image, $size: 'cover') {
	background: url($image) no-repeat center;
	background-size: $size;
}

@mixin mask($image, $size: cover) {
	// Добавляем вендорные префиксы для совместимости
	-webkit-mask-image: url($image);
	mask-image: url($image);
	
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	
	-webkit-mask-position: center;
	mask-position: center;
	
	-webkit-mask-size: $size;
	mask-size: $size;
}